* {
  margin: 0;
  padding: 120;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

header .logo {
  position: relative;
  max-width: 80px;
}

header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  margin-left: 40px;
  font-weight: 450;
  color: #333;
  text-decoration: none;
}

.content {
  width: 70%;
  display: block;
}

/* selecting the 2 classes to modify the sizes */
.content .textBox {
  position: relative;
  max-width: 400px;
}

.content h1 {
  display: flex;
  font-size: 2rem;
  padding-bottom: 20px;
}

.content p {
  position: relative;
  color: black;
  display: inline-block;
  max-width: 510px;
  padding-left: 0px;
  line-height: 25px;
}
.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: white;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.content .imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  margin-top: 120px;
  padding-bottom: 0px;
}

.content .imgBox img {
  max-width: 540px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
  display: flex;
}
.thumb .thumbPic {
  max-width: 100px;
}
.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li:hover {
  transform: translateY(-15px);
}
.thumb li img {
  max-width: 20px;
}
.sci {
  position: absolute;
  text-decoration: none;
  right: 0px;
  top: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul .sci {
  padding-inline-start: 190px;
}
.sci li {
  display: inline-block;
  margin: 3px 0;
  transform: scale(0.8);
  filter: invert();
}
.sci li:hover {
  transform: translateX(-2px);
}

.circle {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #017143;
  width: 100%;
  height: 100%;
  clip-path: circle(600px at right 800px);
}

/* drop down btn nav bar */ /* drop down btn nav bar */ /* drop down btn nav bar */ /* drop down btn nav bar */
.dropdown {
  float: left;
  overflow: hidden;
  display: inline-block;
}

.dropdown .dropbtn {
  font-size: inherit;
  border: none;
  outline: none;
  color: black;
  padding: 0px 40px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 6px 2px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #017143;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* responsiveness */
@media (max-width: 900px) {
  header {
    padding: 20px;
  }
  header .logo {
    position: relative;
    max-width: 50px;
  }
  header ul {
    display: none;
  }
  section {
    padding: 20px 20px 120px;
  }
  .content {
    flex-direction: column;
    margin-top: 100px;
  }
  .content .textBox h2 {
    font-size: 2.5em;
  }
  .content .imgBox {
    max-width: 100%;
  }
  .content .imgBox img {
    max-width: 260px;
  }
  .content .textBox {
    max-width: 100%;
  }
  .thumb li img {
    max-width: 40px;
  }
  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(400px at center bottom);
  }
}

/* Contact page */

.contact-us {
  margin: 0 0 20px;
  font-weight: 400;
  color: black;
}
.message {
  margin: 0 0 5px;
}
.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
form {
  padding: 5px;
  margin: 25px;
  box-shadow: 0 2px 20px #f5f5f5;
  background: none;
}

input,
textarea {
  width: calc(79% - 18px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid black;
  outline: none;
}
input::placeholder {
  color: #666;
}
button {
  width: 76%;
  padding: 10px;
  border: none;
  background: #017143;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border-radius: 20px;
}
button:hover {
  background: #2baa75;
}

/* ///responsiveness */
@media (min-width: 568px) {
  .main-block {
    flex-direction: row;
  }
  .left-part,
  form {
    width: 50%;
  }
  .fa-envelope {
    margin-top: 0;
    margin-left: 20%;
  }
  .fa-at {
    margin-top: -10%;
    margin-left: 65%;
  }
  .fa-mail-bulk {
    margin-top: 2%;
    margin-left: 28%;
  }
}
